doctype html
html(lang='ja')
	head
		block BLOCK_LAYOUT_VAR

		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		- var TITLE = 'Content-type: text/net(org)'
		if(VAR_LAYOUT_TITLE)
			title #{VAR_LAYOUT_TITLE} - #{TITLE}
		else
			title #{TITLE}

		link(rel='stylesheet' type='text/css' href='style/markdown-style.scss')

		block BLOCK_LAYOUT_HEAD
		block BLOCK_LAYOUT_STYLE
		block BLOCK_LAYOUT_HEAD_SCRIPT
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-83877058-1")
		script.
			var _paq = window._paq = window._paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="//analytics.content-type-text.org/";
				_paq.push(['setTrackerUrl', u+'matomo.php']);
				_paq.push(['setSiteId', '2']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
			})();

	body
		if(VAR_LAYOUT_TITLE)
			h1 #{VAR_LAYOUT_TITLE}
		else
			h1 #{TITLE}
		div#content
			#container
				block BLOCK_LAYOUT_CONTENT

		block BLOCK_LAYOUT_TAIL_SCRIPT

